.container {
    display: flex;
    height: 100vh;
  }
  
  .card {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
    font-family: Arial, sans-serif;
  }
  
  .card:hover {
    transform: scale(1.02);
  }
  
  .teclado {
    background-color: #111;
    color: #fff;
  }
  
  .violao {
    background-color: #f5f5f5;
    color: #111;
  }
  